$headSize: 60px;
$menuSize: 275px;
$operatorSize: 275px;

$ibc: #dcdfe6;
$ibl: #ebeef5;
$itc: #314659;
$icc: rgba(0, 0, 0, .45);
$boxShadowColor: #f0f1f2;

$primary: #e7218f;

.visual-editor {
    position: fixed;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: white;

    &:before {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,.1);
        content:''
    }

    & > .visual-editor-menu {
        position: absolute;
        width: $menuSize;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: white;
        z-index: 9;

        .visual-editor-menu-item {
            position: relative;
            width: calc(100% - 20px);
            margin-left: 10px;
            border: 2px dashed $ibl;
            margin-top: 20px;
            min-height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            box-sizing: border-box;

            &:after {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                content: '';
                z-index: 2;
            }

            &:hover {
                border-color: $primary;
                cursor: move;
            }

            &-label {
                position: absolute;
                left: -2px;
                top: -2px;
                background-color: $primary;
                color: white;
                padding: 4px 8px;
                font-size: 12px;
                z-index: 1;
            }
        }
    }

    & > .visual-editor-head {
        position: absolute;
        height: $headSize;
        top: 0;
        left: $menuSize;
        right: $operatorSize;;
        // background-color: white;
    }

    & > .visual-editor-operator {
        position: absolute;
        width: $menuSize;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: white;
        z-index: 9;
    }

    & > .visual-editor-body {
        padding-top: $headSize;
        padding-left: $menuSize;
        padding-right: $operatorSize;
        box-sizing: border-box;
        background-color: rgba(white, .5);
        height: 100%;
        position: relative;
        z-index: 1;

        & > .visual-editor-content {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            overflow-y: scroll;

            & > .visual-editor-container {
                background-color: white;
                position: relative;
                flex-shrink: 0;
                flex-grow: 0;
            }
        }
    }
}